.navbar-brand {
    width: 150px;
}

#fonts{
    font: 40px Arial, sans-serif;
}

#images{
    width: 286px;
    height: 250px;

}
.bodystyle{
    background-color:#99ccff
}

.checked {
    color: orange;
}
